<ion-card>
  <ion-img src="{{ user.avatar_url }}"></ion-img>
  <ion-card-header>
    <ion-card-title>{{ user.login }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Name: {{ user.name }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bio: {{ user.bio }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Company: {{ user.company }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Location: {{ user.location }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Website: {{ user.blog }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
